<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head>
        <meta charset="UTF-8">
        <title>Alert Messager - jQuery EasyUI Demo</title>
        <link rel="stylesheet" type="text/css" href="/static/easyui/jquery-easyui/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="/static/easyui/jquery-easyui/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="../demo.css">
        <script type="text/javascript" src="/static/easyui/jquery-easyui/jquery.min.js"></script>
        <script type="text/javascript" src="/static/easyui/jquery-easyui/jquery.easyui.min.js"></script>
    </head>
</head>
<body>

</body>
</html>